<%- include('../partials/header.ejs') %>
    <div class="card mx-3 mt-3" style="max-width: 540px;">
        <form action="/log_in" method="post">
            <div class="m-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="e.g. Madam Welminster" required>
            </div>
            <button type="submit" class="btn btn-outline-secondary float-end me-3 mb-3 px-5">Sign In</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>