<%- include('./partials/header.ejs') %>

    <% if (error && message) { %>
        <h1 class="text-center">
            Cluckr!<br>
            <%- message %>
        </h1>
        <% } %>

            <%- include('./partials/footer.ejs') %>